<?xml version="1.0" encoding="UTF-8"?>
<widget id="PersianCalendar" version="1.5"  modes="dock, application" dockable="yes">
	<widgetname>Persian Calendar</widgetname>
	<description>Browse the days of the calendar in persian format. Designed by Old PC Users (http://old-pc-users.mihanblog.com)</description>
	<id>PersianCalendar</id>
	<version>1.5</version>
	<access network="no"/>
	<icon>img/cal.png</icon>
	<width>350</width>
	<height>300</height>
</widget>